@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: #000000;
}
:root {
  --text-color: #ffffff;
  --card-color: #242424;
  --secondary-textSize: 15px;
  --main-textSize: 60px;
}
/*
.darkMode{ 
    --text-color:#ffffff;
    --card-color:#3f3f3f;
    --reload-color: #cfcfcf;
    --quote-color:#b4b4b4;
}
*/

.mainContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainClockContainer {
  background-color: var(--card-color);
  border-radius: 20px;
  width: 240px;
  height: 175px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.mainClockContainer::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 600px;
  background: linear-gradient(#3fa7df, #9f25a1);
  animation: animate 5s linear infinite;
  filter: blur(3.5rem);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.clockContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#clockElement {
  font-size: var(--main-textSize);
  color: var(--text-color);
  z-index: 20;
}

#secondsElement {
  padding-top: 20px;
  font-size: 35px;
  color: var(--text-color);
  display: flex;
  z-index: 20;
}

.dayWMContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#weekElement,
#dayElement,
#monthElement {
  font-size: var(--secondary-textSize);
  color: var(--text-color);
  z-index: 20;
}

.mainClockContainer::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: var(--card-color);
  border-radius: 20px;
  z-index: 1;
}

i {
  color: white;
  z-index: 20;
  font-size: 30px;
}

.hidden {
  opacity: 0;
}

.view {
  display: block;
}

#icon:hover {
  cursor: pointer;
}

#containerPomo {
  z-index: 20;
}

#btn {
  background-color: white;
  font-size: var(--secondary-textSize);
  border: none;
  border-radius: 10px;
  width: 60px;
  padding: 4px;
}
